arviz
altair >= 5
immutabledict
joblib
natsort >= 7.1.1, < 8
numpy >= 2.0.2, < 3
pandas >= 2.2.2, < 3
patsy >= 0.5.3, < 0.5.4
scipy >= 1.13.1, < 2
statsmodels >= 0.12.2
tensorflow >= 2.18, < 2.19
tensorflow-probability >= 0.25, < 0.26
tf-keras >= 2.18, < 2.19
xarray
seaborn
openpyxl
